<ul class="list-group sidebar-group sidebar-carlist">
   <li class="list-group-item sidebar-list-title hot">
      <i class="fa fa-usd"></i>
      best sellers
   </li>
   <div class="sidebar-list-body">
      <li class="list-group-item item" ng-repeat="car in vm.hot">
         <div class="col-xs-5 sidebar-img">
            <img class="img-responsive img-thumbnail" ng-src="content/images/cars/{{car.id}}/1.jpg" alt="">
         </div>
         <div class="col-xs-7 info">
            <a class="sidebar-content-title" ui-sref="detail({id:{{ car.id }}})">
               {{car.year}} {{ car.make }} {{car.model}}
            </a>
            <div class="emp">
               {{ car.emp }} HP
            </div>
            <div class="price">
               ${{ car.priceFix }}
            </div>
         </div>
         <div class="clearfix"></div>
      </li>
   </div>
</ul>
