<footer class="col-xs-12">
  <div class="col-xs-12 footer-top">
    <div class="col-xs-12 title">
      <span>BT CARS - Best choice!</span>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-sm-5">
        <div class="contact">
          <span>contact us</span>
        </div>
        <table>
          <tr>
            <th><i class="fa fa-map-marker"></i></th>
            <td>6969 Giai Phong Street, Hanoi, Vietnam</td>
          </tr>
          <tr>
            <th><i class="fa fa-phone"></i></th>
            <td>(043)666.6789</td>
          </tr>
          <tr>
            <th><i class="fa fa-envelope"></i></th>
            <td>btcars@gmail.com</td>
          </tr>
        </table>
      </div>

      <div class="col-sm-7 partner-container">
        <div class="partner-title">
          <span>Partners</span>
        </div>
        <div class="partner-img-container">
          <div class="img-wrapper">
            <img class="img-responsive" ng-src="content/images/lamborghini-logo.png" alt="">
          </div>
          <div class="img-wrapper">
            <img class="img-responsive" ng-src="content/images/ferrari-logo.png" alt="">
          </div>
          <div class="img-wrapper">
            <img class="img-responsive" ng-src="content/images/porsche-logo.png" alt="">
          </div>
          <div class="img-wrapper">
            <img class="img-responsive" ng-src="content/images/rollsroyce-logo.png" alt="">
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    
  </div>

  <div class="clearfix"></div>

  <div class="col-xs-12 footer-bottom">
    <div class="row">
      <div class="col-sm-5 copyright">
        <span>Copyright © 2015 . All Rights Reserved. Design by BT Cars</span>
      </div>

      <div class="col-sm-7 pay">
        <img class="img-responsive" ng-src="content/images/pay-logo.png" alt="">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="clearfix"></div>
</footer>