<div class="col-sm-12">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
      <li class="breadcrumb-item"><a ui-sref="cars">Cars</a></li>
      <li class="breadcrumb-item active">
         {{ vm.car.year }}
         {{ vm.car.make }}
         {{ vm.car.model }}
         {{ vm.car.trim }}
      </li>
   </ol>
</div>

<div class="col-sm-9 content-container">
   <div class="car-detail-infobox row">
      <div class="col-md-5 slideshow-container">
         <div id="slidedetail" class="carousel slide detail-slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
               <div class="item active">
                  <img ng-src="content/images/cars/{{ vm.car.id }}/1.jpg" alt="">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img ng-src="content/images/cars/{{ vm.car.id }}/2.jpg" alt="">
                  <div class="carousel-caption">
                     <h3></h3>
                     <p></p>
                  </div>
               </div>
               <div class="item">
                  <img ng-src="content/images/cars/{{ vm.car.id }}/3.jpg" alt="">
                  <div class="carousel-caption">
                     <h3></h3>
                     <p></p>
                  </div>
               </div>
            </div>

            <!-- Controls -->
            <a class="control control-left" data-target="#slidedetail" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="control control-right" data-target="#slidedetail" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

            <!-- Indicators -->
            <ol class="carousel-indicators detail-indicators">
               <img data-target="#slidedetail" data-slide-to="0" class="img-thumbnail active"
                     ng-src="content/images/cars/{{ vm.car.id }}/1.jpg">
               <img data-target="#slidedetail" data-slide-to="1" class="img-thumbnail"
                     ng-src="content/images/cars/{{ vm.car.id }}/2.jpg">
               <img data-target="#slidedetail" data-slide-to="2"  class="img-thumbnail"
                     ng-src="content/images/cars/{{ vm.car.id }}/3.jpg">
            </ol>
         </div>
      </div>

      <div class="col-md-7 detail-buy">
         <h2>
            {{ vm.car.year }}
            {{ vm.car.make }}
            {{ vm.car.model }}
            {{ vm.car.trim }}
         </h2>

         <div class="code">
            No. {{ vm.car.id }}
         </div>

         <div class="info">
            <strong>Model:</strong> {{ vm.car.make }} {{ vm.car.model }}<br>
            <strong>Trim:</strong> {{ vm.car.trim }}<br>
            <strong>Year:</strong> {{ vm.car.year }}
         </div>

         <div class="price">
            ${{ vm.car.priceFix }}
         </div>

         <div class="car-buy">
            <div class="col-sm-2 status status-instock" data-toggle="tooltip" title="IN STOCK"
                     ng-show="(vm.car.status == 1) && ((vm.car.quantity - vm.car.sold) != 0)">
                  <i class="fa fa-check"></i>
            </div>
            <div class="col-sm-2 status status-outofstock" data-toggle="tooltip" title="OUT OF STOCK"
                     ng-show="(vm.car.status == 1) && ((vm.car.quantity - vm.car.sold) == 0)">
               <i class="fa fa-exclamation"></i>
            </div>
            <div class="col-sm-2 status status-suspended" data-toggle="tooltip" title="SUSPENDED TRADING"
                     ng-show="(vm.car.status == 0)">
               <i class="fa fa-times"></i>
            </div>
            <div role="button" class="col-sm-5 buy-now" ng-click="vm.buy(vm.car, false)"
                     ng-disabled="(vm.car.status == 0) || ((vm.car.quantity - vm.car.sold) == 0)">
               <i class="fa fa-shopping-cart"></i>
               <span>buy now</span>
            </div>
            <div role="button" class="col-sm-5 add-to-cart" ng-click="vm.addItem(vm.car)"
                     ng-disabled="(vm.car.status == 0) || ((vm.car.quantity - vm.car.sold) == 0)">
               <i class="fa fa-cart-plus"></i>
               <span>add to cart</span>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>

   <div class="row detail-specs">
      <ul class="nav nav-tabs tab-heading">
         <li class="descr active"><a data-toggle="tab" data-target="#descr">Description</a></li>
         <li class="specs"><a data-toggle="tab" data-target="#specs">Specifications</a></li>
      </ul>

      <div class="tab-content">
         <div id="descr" class="tab-pane fade in active">
            <h3>Car Description</h3>
            <p>BT Cars - Best Choice!</p>
         </div>
         <div id="specs" class="tab-pane fade">
            <h3>Car Specifications</h3>
            <table>
               <tr>
                  <th>Make</th>
                  <td>{{ vm.car.make }}</td>
               </tr>
               <tr>
                  <th>Model</th>
                  <td>{{ vm.car.model }}</td>
               </tr>
               <tr>
                  <th>Trim</th>
                  <td>{{ vm.car.trim }}</td>
               </tr>
               <tr>
                  <th>Year</th>
                  <td>{{ vm.car.year }}</td>
               </tr>
               <tr>
                  <th>Country</th>
                  <td>{{ vm.car.country }}</td>
               </tr>
               <tr>
                  <th>Engine Displacement (Litre)</th>
                  <td>
                     <span ng-show="vm.car.ed">{{ vm.car.ed }}</span>
                     <span ng-hide="vm.car.ed">Unavailable</span>
                  </td>
               </tr>
               <tr>
                  <th>Engine Valves</th>
                  <td>
                     <span ng-show="vm.car.ev">{{ vm.car.ev }}</span>
                     <span ng-hide="vm.car.ev">Unavailable</span>
                  </td>
               </tr>
               <tr>
                  <th>Engine Max Power (HP)</th>
                  <td>
                     <span ng-show="vm.car.emp">{{ vm.car.emp }}</span>
                     <span ng-hide="vm.car.emp">Unavailable</span>
                  </td>
               </tr>
               <tr>
                  <th>Weight (kg)</th>
                  <td>
                     <span ng-show="vm.car.w">{{ vm.car.w }}</span>
                     <span ng-hide="vm.car.w">Unavailable</span>
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </div>

</div>

<div class="col-sm-3 sidebar">
   <div ng-include="'app/cars/detail/detail-sidebar.html'"></div>
</div>

<div class="clearfix"></div>
