<form name="cartForm" role="form" novalidate ng-submit="vm.addItem(vm.car)">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">
         &times;
      </button>
      <h4 class="modal-title" id="myOrderlistLabel">Add to Cart</h4>
   </div>

   <div class="alert alert-danger" ng-show="vm.error" >
      <strong>Item has been already in your Cart!</strong>
   </div>

   <div class="alert alert-danger" ng-show="!vm.authenticate" >
      <strong>You need to login to use this feature!</strong>
   </div>

   <div class="modal-body">
      Do you want to add {{ vm.car.year }} {{ vm.car.make }} {{ vm.car.model }} {{ vm.car.trim }} to your cart?
   </div>

   <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
         <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary">
         <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
      </button>
   </div>
</form>
