$bgColor: #e0f2f6;
$bgDark: #000;
$darkBorderColor: #000;
$lightBorderColor: #999;
$lighterBorder: #eee;
$slideButtonColor: #34495e;
$bgMain: #fff;
$defaultTextColor: #1f2228;
$textColorDarkBg: #fff;

$sidebarTitleBgColor: #e74c3c;
$filter: #1abc9c;
$sort: #3498db;
$hot: #9b59b6;
$sidebarLinkHoverBgColor: #f7f7f7;
$sidebarLinkHoverTextColor: #e74c3c;
$sidebarBorderColor: #3f3f3f;


$homeListTitleBgColor: #34495e;
$linkHoverTextColor: #e74c3c;
$caritemHoverBgColor: #f7f7f7;


$instockBgColor: #2ecc71;
$outofstockBgColor: #f5791f;
$suspendedBgColor: #e74c3c;
$buyNowBgColor: #3498db;
$addToCartBgColor: #9b59b6;
$price: red;

$detailBuyBgColor: #f1f1f1;
$tabTitleBgColor: #a1aaaf;
$descrTitleBgColor: #e74c3c;
$specsTitleBgColor: #1abc9c;

$thBgColor: #34495e;
$tdBgColor: #f1f1f1;


// account-setting
$accBlockTitle: #34495e;
$btnInfoBgColor: #f5791f;
$btnPasswordBgColor: #3498db;


//nav color
$navhome: #1abc9c;
$navall: #e74c3c;
$navcontacts: #3498db;
$navabout: #f5791f;
$navsearch: #2ecc71;
$navhover: #34495e;

$linkHover: #3498db;

$navquantity: #e74c3c;
$navquantityHover: #c63d2f;
$navcart: #3498db;
$navcartHover: #2980b9;
$navtotal: #9b59b6;
$navtotalHover: #864f9d;

$phone: #1abc9c;
