@import 'palettes';

// commons
$text--light: palette(white, x-light);
$text--dark: palette(black);
$link__text-hover: #e74c3c;

$body__background: #e0f2f6;
$background--light: palette(white, x-light);
$background--dark: palette(black, x-dark);

$border--dark: palette(black, x-dark);
$border--light: palette(white, x-light);
$border--mid-light: palette(white, light);
$border--mid-dark: #999;

//  specifies
$container-title__background: #34495e;

$sidebar-manufactures-title__background: palette(red, base);
$sidebar-bestsellers-title__background: #9b59b6;
$sidebar-sort-title__background: #3498db;
$sidebar-filter-title__background: #1abc9c;
$sidebar-item__background-hover: palette(white, light);
$sidebar__border: palette(black, light);

$slider-control__background: #34495e;
$slider-control__text: #ccc;

$price__text: palette(red, x-dark);

$buy-button__background: #f5791f;
$buy-button__background-hover: #e46f19;
$buy-modaltitle__background: #3498db;
$buylist-modaltitle__background: #2ecc71;

$buysection-status-instock__background: #2ecc71;
$buysection-status-outofstock__background: #f5791f;
$buysection-status-suspended__background: #e74c3c;
$buysection-buy__background: #3498db;
$buysection-buy__background-hover: #2b80b9;
$buysection-cart__background: #9b59b6;
$buysection-cart__background-hover: #8647a0;

$details-title__background-focusout: #a1aaaf;
$details-descrtitle__background-focus: #e74c3c;
$details-specstitle__background-focus: #1abc9c;
$details-tabletitle__background: #34495e;
$details-tablecontent__background: #f1f1f1;

$settings-info-save__background: #f5791f;
$settings-pw-save__background: #3498db;

$result-specs-ed__background: #3498db;
$result-specs-ev__background: #e74c3c;
$result-specs-emp__background: #f5791f;
$result-specs-weight__background: #1abc9c;

$navtop-link__text-hover: #3498db;

$navmini-quantity__background: #e74c3c;
$navmini-quantity__background-hover: #c63d2f;
$navmini-cart__background: #3498db;
$navmini-cart__background-hover: #2980b9;
$navmini-total__background: #9b59b6;
$navmini-total__background-hover: #864f9d;

$nav-home__background: #1abc9c;
$nav-cars__background: #e74c3c;
$nav-contacts__background: #3498db;
$nav-about__background: #f5791f;
$nav-search__background: #2ecc71;
$nav-item__background-hover: #34495e;

$nav-xs__text-hover: #3498db;

$phone__text: #1abc9c;
