@import 'color';

.search-results {
  > .title {
    background-color: $background--light;
    font-size: 1.1em;
    padding: 5px 20px;
    margin: 15px 0;
  }
  > .result {}
}

.search-results > .result {
  background-color: $background--light;
  padding: 15px 0;
  margin-bottom: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  > .result-info > .title {
    margin: 10px 0;
    .name {font-size: 1.1em;}
    .trim {font-size: 1em;}
    &:hover {.name, .trim {color: $link__text-hover !important;}}
  }
  .specs {
    th {color: $text--light;}
    td, th {
      padding: 3px 0;
      text-align: center;
      border-right: 5px solid $background--light;
      &.no-border {border-right: 0;}
    }
    .ed     {background-color: $result-specs-ed__background;}
    .ev     {background-color: $result-specs-ev__background;}
    .emp    {background-color: $result-specs-emp__background;}
    .weight {background-color: $result-specs-weight__background;}
    .ng-binding {background-color: $details-tablecontent__background;}
  }
  .price {
    height: 80px;
    line-height: 80px;
    font-size: 1.5em;
    color: $price__text;
    font-weight: bold;
    text-align: center;
  }
  &:hover {box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);}
}
